<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openform()">Open Form</button>
      <h1>{{ `value A : ` + a }}</h1>
      <h1>{{ `Average : ` + r }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          a: 0,
          b: 0,
          r: 0,
        },
        methods: {
          openform: function () {
            this.a = 0;
            this.b = 0;
            this.r = 0;
            do {
              var x = parseInt(prompt("Input a value", "0"), 10);
              this.a = this.a + x;
              this.b += 1;
              this.r = this.a / this.b;
            } while (this.a < 10);
          },
        },
      });
    </script>
  </body>
</html>
