<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz 5</title>
  </head>

  <body>
    <div id="app">
      <div id="form">
        <form v-on:submit.prevent="addUser">
          <input type="hidden" v-model="idUserText" id="newUser" />
          <input v-model="newUserText" id="newUser" v-bind:value="editUserName"/>
          <button>{{action}}</button>
        </form>
        <ul>
          <li v-for="(user, id) in users">
            {{user.name}} &nbsp;&nbsp;
            <button v-on:click="editUser(id)">Edit</button> |
            <button v-on:click="removeUser(id)">Remove</button>
          </li>
        </ul>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",

        data: {
          newUserText: "",
          users: [
            {
              name: "Muhammad Iqbal Mubarok",
            },
            {
              name: "Ruby Purwanti",
            },
            {
              name: "Faqih Muhammad",
            },
          ],
          editedUser: "",
          action: "Add",
          idUserText: "",
          editUserName: "",
        },

        methods: {
          addUser: function () {
            if (this.idUserText === "") {
              this.users.push({
                name: this.newUserText,
              });
            } else {
              this.users[this.idUserText].name = this.newUserText;
            }
            this.newUserText = "";
            this.action = "Add";
            this.idUserText = "";
          },
          editUser: function (id) {
            this.idUserText = id;
            this.action = "edit";
            this.newUserText = this.users[id].name;
          },
          removeUser: function (id) {
            if (confirm("Are you sure to remove this name?")) {
              this.users.splice(id, 1);
            }
          },
        },
      });
    </script>
  </body>
</html>
